.table tr {
  cursor: pointer;
}
.hiddenRow {
  padding: 0 4px !important;
  /* background-color: #eeeeee; */
  /* font-size: 13px; */
}

::ng-deep .mat-expansion-indicator:after {
  color: red;
}

.showDetailsSVG {
  fill: green;
}
