{
  "Stuns": [
    {
      "Proto": "udp",
      "URI": "stun:stun.cloudflare.com:3478",
      "Username": "",
      "Password": null
    },
    {
      "Proto": "udp",
      "URI": "stun:stun.l.google.com:19302",
      "Username": "",
      "Password": null
    }
  ],
  "TURNConfig": {
    "Turns": [],
    "CredentialsTTL": "12h",
    "Secret": "",
    "TimeBasedCredentials": false
  },
  "Signal": {
    "Proto": "https",
    "URI": "${NETBIRD_SIGNAL_HOSTNAME}:443",
    "Username": "",
    "Password": null
  },
  "Relay": {
    "Addresses": ["rels://netbird-vpn-relay.${BASE_DOMAIN}:443"],
    "CredentialsTTL": "24h",
    "Secret": "${NETBIRD_RELAY_AUTH_SECRET}"
  },
  "ReverseProxy": {
    "TrustedHTTPProxies": [],
    "TrustedHTTPProxiesCount": 0,
    "TrustedPeers": [
      "0.0.0.0/0"
    ]
  },
  "DataStoreEncryptionKey": "",
  "StoreConfig": {
    "Engine": "sqlite"
  },
  "HttpConfig": {
    "Address": "0.0.0.0:8080",
    "AuthIssuer": "https://authelia.${BASE_DOMAIN}",
    "AuthAudience": "netbird-dashboard",
    "AuthKeysLocation": "https://authelia.${BASE_DOMAIN}/jwks.json",
    "AuthUserIDClaim": "sub",
    "OIDCConfigEndpoint": "https://authelia.${BASE_DOMAIN}/.well-known/openid-configuration"
  },
  "DeviceAuthorizationFlow": {
    "Provider": "hosted",
    "ProviderConfig": {
      "Audience": "netbird-dashboard",
      "ClientID": "netbird-dashboard",
      "TokenEndpoint": "https://authelia.${BASE_DOMAIN}/api/oidc/token",
      "DeviceAuthEndpoint": "https://authelia.${BASE_DOMAIN}/api/oidc/device-authorization",
      "Scope": "openid profile email offline_access",
      "UseIDToken": true
    }
  },
  "PKCEAuthorizationFlow": {
    "ProviderConfig": {
      "Audience": "netbird-dashboard",
      "ClientID": "netbird-dashboard",
      "Domain": "",
      "AuthorizationEndpoint": "https://authelia.${BASE_DOMAIN}/api/oidc/authorization",
      "TokenEndpoint": "https://authelia.${BASE_DOMAIN}/api/oidc/token",
      "Scope": "openid profile email offline_access",
      "RedirectURLs": [
        "http://localhost:53000/"
      ],
      "UseIDToken": true
    }
  }
}
